{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> SignUp </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'signform.css' %}" rel="stylesheet" type="text/css" media="all" >

<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

	<style>
		 h3 {
		 color: red;
		 }
	</style>
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1> SignUp </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="register" method="post">
					{% csrf_token %}
					<input type="text" name="first_name" placeholder="First Name" required=""><br>
					<input type="text" name="last_name" placeholder="Last Name" required=""><br>
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password1" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
				<div>
                 {% for message in messages %}
						<h3> {{ message }}</h3>
				 {% endfor %}
				</div>
					<input type="submit" value="SIGNUP">
					</div>
				</form>
				<p>Already Have an Account? <a href="login" style="color:black;"> Login Now!</a></p>

			</div>
		</div>
	</div>
</body>
</html>


